.home-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 93vh;
    background-image: url('../imgs/kabita-darlami-lneMADustvA-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 5rem;
    margin:0;
    color: #E5DCC3;
    padding-top: 5%;
}

.home-btn {
    margin-top: 1%;
    font-size: 1.25rem;
    padding: 2% 5%;
    border-radius: 6px;
    border: .5px solid #E5DCC3;
}

.home-btn:hover {
    background-color: lightgrey;
    border: 2px solid white;
}
.home-btn:active {
    transform: translateY(3px);
}

.btn-div {
    display: flex;
    width: 9%;
    justify-content: space-between;
}